{% load static %} <!DOCTYPE html>
<html lang="sk" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}NOVU{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary sticky-top mb-4" style="height: 70px;">
      <div class="container h-100">
        <a class="navbar-brand d-flex align-items-center h-100" href="{% url 'home' %}">
          <img src="{% static 'images/logo.png' %}" class="custom-navbar-logo" alt="Logo" style="height: 100px; width: auto; object-fit: contain;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto align-items-center">
            <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        Kontakt
    </a>
    <ul class="dropdown-menu dropdown-menu-dark shadow border-secondary p-3" style="min-width: 200px;">
        {% if kontakt %}
            <li class="mb-2"><strong>{{ kontakt.meno }}</strong></li>
            <li class="small text-muted">{{ kontakt.info_1 }}</li>
            <li class="small text-muted">{{ kontakt.info_2 }}</li>
        {% else %}
            <li class="small">Kontakt nebol nastavený.</li>
        {% endif %}

        {% if user.is_staff %}
            <hr class="dropdown-divider">
            <li>
                <a class="btn btn-sm btn-outline-primary w-100" href="/admin/inzeraty/kontakt/">
                    Upraviť (Admin)
                </a>
            </li>
        {% endif %}
    </ul>
</li>

            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link mx-2" href="{% url 'pridat_inzerat' %}">Pridať inzerát</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="{% url 'profil' %}">Profil ({{ user.username }})</a>
              </li>
              <li class="nav-item">
               <a href="{% url 'moje_chaty' %}" class="nav-link position-relative">
                      Správy
              {% if unread_count > 0 %}
              <span class="position-absolute start-100 translate-middle badge rounded-pill bg-primary d-inline-flex align-items-center justify-content-center" 
              style="width: 18px; height: 18px; font-size: 0.65rem; margin-top: 1px; margin-left: -3px;">
              {{ unread_count }}
              </span>
              {% endif %}
              </a>
              </li>
              <li class="nav-item">
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="nav-link btn-logout">
                    Odhlásiť sa ({{ user.username }})
                  </button>
                </form>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Prihlásiť sa</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary ms-lg-3" href="{% url 'register' %}">Registrácia</a>
              </li>
            {% endif %}
              <li class="nav-item ms-lg-3">
                <button id="music-toggle" class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center" 
                        style="border-radius: 50%; width: 35px; height: 35px; padding: 0;">
                    <i id="music-icon" class="bi bi-volume-mute"></i>
                </button>
              </li>
          </ul>
          <audio id="bg-music" loop>
            <source src="{% static 'audio/MC.mp3' %}" type="audio/mpeg">
          </audio>
        </div>
      </div>
    </nav>

    <div class="container content-wrapper">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-alert="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% block content %} {% endblock %}
    </div>

    <footer class="py-4 mt-auto border-top border-secondary">
    <div class="container text-center text-muted">
        <p class="mb-0">
            &copy; <span id="current-year"></span> Jakub Dzúr a Richard Mágyel. Všetky práva vyhradené.
        </p>
        <small>NOVU</small>
    </div>
    </footer>

    <div class="modal fade" id="videoModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content bg-transparent border-0">
                <div class="modal-body p-0 d-flex justify-content-center align-items-center position-relative">
                    <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-3 shadow-lg" 
                            data-bs-dismiss="modal" aria-label="Close" style="z-index: 1051;" onclick="stopVideo()"></button>
                    <video id="modalVideo" controls class="rounded shadow-lg w-100" style="max-height: 90vh;"></video>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const music = document.getElementById('bg-music');
      const btn = document.getElementById('music-toggle');
      const icon = document.getElementById('music-icon');

      music.volume = 1; 

      function updateIcon(isPlaying) {
          if (isPlaying) {
              icon.classList.replace('bi-volume-mute', 'bi-volume-up');
              btn.classList.add('text-primary', 'border-primary');
          } else {
              icon.classList.replace('bi-volume-up', 'bi-volume-mute');
              btn.classList.remove('text-primary', 'border-primary');
          }
      }

      function toggleMusic() {
          if (music.paused) {
              music.play();
              localStorage.setItem('musicStatus', 'playing');
              updateIcon(true);
          } else {
              music.pause();
              localStorage.setItem('musicStatus', 'paused');
              updateIcon(false);
          }
      }

      btn.addEventListener('click', toggleMusic);
      window.addEventListener('click', () => {
          if (localStorage.getItem('musicStatus') !== 'paused' && music.paused) {
              music.play().then(() => {
                  updateIcon(true);
              }).catch(e => console.log("Autoplay blokovaný"));
          }
      }, { once: true });

      if (localStorage.getItem('musicStatus') === 'playing') {
          updateIcon(true);
      }

      function otvorVideo(url) {
          const modalVid = document.getElementById('modalVideo');
          modalVid.src = url;
          const myModal = new bootstrap.Modal(document.getElementById('videoModal'));
          myModal.show();
          modalVid.play();
      }

      function stopVideo() {
          const modalVid = document.getElementById('modalVideo');
          if (modalVid) {
              modalVid.pause();
          }
      }
    </script>
  </body>
</html>